<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<%= button_to 'Destroy', @product, :method => :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %>
